<%= form_with model: @project do |form|%>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control", placeholder: 'Project Title', required: true %>
  </div>
  

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control", placeholder: 'Project Description' %>
  </div>

  <label for="users"><b>Developer</b></label>
        <br/>
        <%= form.collection_check_boxes(:object_id, @devs, :id, :name_role, {selected: @project.enrolled_users.ids}, {multiple: true} ) do |assign| %>
          <%= assign.label(class:"label-checkbox form-check") { assign.check_box + assign.text }%>
        <% end %>
   <label for="users"><b>QA</b></label>
        <br/>
        <%= form.collection_check_boxes(:object_id, @qas, :id, :name_role, {selected: @project.enrolled_users.ids}, {multiple: true} ) do |assign| %>
          <%= assign.label(class:"label-checkbox form-check") { assign.check_box + assign.text }%>
        <% end %>

        <% unless project.enrolled_users.empty? %>
        <% @user_in_project.each do |user|  %>
          <%= user.name %>
           
          <%= link_to 'Remove', project_delete_path(@project, user),method: :patch %>
         <%end%>
        <% end %>


  <br />
  <div class="actions">
    <%= form.submit "Add project", class:"btn btn-primary"%>  
  </div>
<% end %>
<br />
<br />