<%= form_with model: @project do |form|%>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control", placeholder: 'Project Title', required: true %>
  </div>
  

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control", placeholder: 'Project Description' %>
  </div>

  <label for="users"><b>Developer</b></label>
        <br/>
        <%= form.collection_check_boxes(:enrolled_user_ids, User.devs , :id, :name_role, {checked: @project.enrolled_user_ids} , {multiple: true} ) do |assign| %>
          <%= assign.label(class:"label-checkbox form-check") { assign.check_box + assign.text }%>
        <% end %>
   <label for="users"><b>QA</b></label>
        <br/>
        <%= form.collection_check_boxes(:enrolled_user_ids, User.qas, :id, :name_role, {checked: @project.enrolled_user_ids} , {multiple: true} ) do |assign| %>
          <%= assign.label(class:"label-checkbox form-check") { assign.check_box + assign.text }%>
        <% end %>
  <br />
  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary"%>  
  </div>
<% end %>
<br />
<br />