<br />
<div class="row mb-4">
      <div class="col-lg-12">
        <div class="card mdb-color white-text p-2">
          <div class="card-title">
            <h4 class="">Project: <%= @project.name %></h4>
            <li class="list-group-item"><i class="fa fa-bug fa-2x"> Bugs: <%= @project.bugs.count %></i></li>
          </div>
        </div>
      </div>
    </div>
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Project Bugs <i class="fa fa-bug"></i></h1>
         
        </div>
<table class="table">
 
  <thead>
    <tr>
      <th scope="col">Bug id#</th>
      <th scope="col">Bug Title</th>
      <th scope="col">Picked/Not Picked</th>
      <th scope="col">Bug Status</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
     <%@bugs.each do |bug| %>
       <td><%= bug.id %></td>
       <td><%= bug.title %></td>
       <td><% if bug.assigned_to_id? %>
              <i class="badge rounded-pill badge-success">Picked</i>
            <%else%>
              <i class="badge rounded-pill badge-warning">Not Picked</i></td>
            <%end%>
        <td><% if bug.New? %>
               <i > New</i>
            <% elsif bug.Started? %>
               <i> Started</i>
            <% else %>
               <i> Resolved</i>
            <% end %></td>
        <td> <%= link_to "Bug Details", project_bug_path(@project, bug), class:"btn btn-secondary" %></td>
           
        <tr></tr>
       <%end%>
        
  </tbody>
</table>
                    